<app-home-navbar></app-home-navbar>
<div class="about-container">
    <div class="hero-section">
        <h1>Welcome to <span>Farmer's Portal</span></h1>
        <p>
            Empowering farmers with technology and fostering growth within the farming community.
        </p>
    </div>

    <section class="content">
        <div class="vision-section">
            <h2>Our Mission</h2>
            <p>
                At <strong>Farmer's Portal</strong>, we connect farmers to modern solutions, bridging the gap between
                technology and agriculture.
            </p>
        </div>

        <div class="vision-section">
            <h2>Our Vision</h2>
            <p>
                To create a sustainable and prosperous future for farmers by blending innovation and tradition.
            </p>
        </div>
    </section>



    <section class="team-section">

        <a routerLink="/register" href="/register" aria-label="View card" class="contact-btn">CONTACT US</a>


        <h2>Meet the Team</h2>

    </section>
</div>

<footer class="footer">
    &copy; 2024 Farmers Market.
</footer>
