.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-upload {
  text-align: center;
  margin-bottom: 20px;
}

.image-upload img {
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 100%;
}

.image-upload a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.image-upload a:hover {
  background-color: #32720d;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #32720d;
}

.footer {
  background-color: #4caf50;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  position: relative;
  width: 100%;
}
