nav {
  background-color: #4caf50;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-content {
  max-width: 100%;
  margin-left: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #000;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 150px;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
  color: #333;
  padding: 8px 15px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
  color: #000;
}

.nav-links li:hover .dropdown-menu {
  display: block;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-upload {
  text-align: center;
  margin-bottom: 20px;
}

.image-upload img {
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 100%;
}

.image-upload a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.image-upload a:hover {
  background-color: #32720d;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #32720d;
}

.footer {
  background-color: #4caf50;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  position: relative;
  width: 100%;
}