<app-login-navbar></app-login-navbar>


<div class="container">
    <div class="form-container">
        <div class="image-upload">
            <img src="Logo.jpg" onerror="this.src='https://user-images.githubusercontent.com/2351721/31314483-7611c488-ac0e-11e7-97d1-3cfc1c79610e.png'" alt="Company Logo" height="200" width="300" />
<BR>
            <a onclick="document.getElementById('file-input').click()"  href="">ADD IMAGE</a>
            <input type="file" id="file-input" style="display: none;" />
        </div>
        <div class="form-fields">
            <input id="product-name" placeholder="PRODUCT NAME" type="text" />
            <input id="quantity" placeholder="QUANTITY" type="text" />
            <input id="price" placeholder="PRICE" type="text" />
            <textarea id="description" placeholder="Add text" rows="4"></textarea>
            <div class="form-buttons">
                <a routerLink="/home"><button type="button">POSTS</button></a>
                
                <button  >CANCEL</button>
            </div>
        </div>
    </div>
</div>