<!-- Buyer Login Form -->
<form class="login-form" [formGroup]="loginrequestBuyer" (ngSubmit)="handlesubmitBuyer()">
    <h3>Buyer Login</h3>

    <label for="usernameBuyer">Username</label>
    <input type="text" placeholder="Email or Phone" id="usernameBuyer" formControlName="username" />

    <label for="passwordBuyer">Password</label>
    <input type="password" placeholder="Password" id="passwordBuyer" formControlName="password" />

    <button type="submit">Log In as Buyer</button><br>
    <button routerLink="/register" type="button">Or Register</button>
  </form>
