<nav class="login-nav">
  <div class="nav-content">
    <div class="logo">
      <a>FARMER'S</a>
    </div>
    <ul class="nav-links">
        <li><a routerLink="/home"  href="/home" aria-label="Go to Home Page">HOME</a></li>
        <li><a routerLink="/profile" href="/profile" aria-label="View Profile">PROFILE</a></li>
        <li><a routerLink="/post" href="/post" aria-label="View Profile">POST</a></li>
        
        <li><a routerLink="/contact" href="/contact"  aria-label="Contact Us">CONTACT</a></li>
        <li><a routerLink="/contact" href="#" (click)="logout()" aria-label="Contact Us">LOGOUT</a></li>


    </ul>
  </div>
</nav>
