nav {
  background-color: #4caf50;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-content {
  max-width: 100%;
  margin-left: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #000;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 150px;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
  color: #333;
  padding: 8px 15px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
  color: #000;
}

.nav-links li:hover .dropdown-menu {
  display: block;
}


.container {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profile {
  text-align: center;
  margin: 20px 0;
}

.profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile h2 {
  color: #000000;
  font-size: 24px;
  margin-top: 10px;
}

.form-group {
  margin: 13px 0;
  width: 100%;
}

.form-group input {
  width: 97%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.buttons button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #333333;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post img {
  width: 35%;
  height: 250px;
  object-fit: cover;
}

.post .details {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.post .details input {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.footer {
  background-color: #4caf50;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}