     
     <app-home-navbar></app-home-navbar>


     <div>
        <h2 class="welcome">welcome to krushi seva </h2>
    </div>
    
    <div class="slider">
        <figure>
            <div class="slide">
                <h1>WELCOM</h1>
                <img src="https://media.istockphoto.com/id/1029301814/photo/farmer-ploughing-field.jpg?s=2048x2048&w=is&k=20&c=DvxfEweVEkXseEA4OClxuWve9LLVuQ9T9wHBsjZQoQ0="
                    alt="">
            </div>
            <div class="slide">
                <h1>WELCOM</h1>
                <img src="https://as2.ftcdn.net/v2/jpg/08/47/92/67/1000_F_847926734_T1O0EGCzjQ9oHIQ1eABHTNfaV7UYWXN0.jpg"
                    alt="">
            </div>
            <div class="slide">
                <h1>WELCOM</h1>
                <img src="https://as1.ftcdn.net/v2/jpg/03/72/66/24/1000_F_372662400_6NiKBuvuit3JfxlulQo3CiFgVCxHyiVv.jpg"
                    alt="">
            </div>
            <div class="slide">
                <h1>WELCOM</h1>
                <img src="https://images.pexels.com/photos/1443867/pexels-photo-1443867.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
            </div>
        </figure>
    </div>
    
    <footer class="footer">
        &copy; 2024 Farmers Market.
    </footer>