     
     <app-home-navbar></app-home-navbar>
<div class="carousel">
    <div class="arrow left" onclick="moveSlide(-1)">
        <i class="fas fa-chevron-left"></i>
    </div>
    <div class="slider">
        <img src="https://media.istockphoto.com/id/1130269782/photo/combine-harvester-harvests-wheat.jpg?s=1024x1024&w=is&k=20&c=eGHo1664rDepASd46EOznyT2OvnfWY-IrdSRzF6BCUk=" alt="Image 1">
        <!-- Add more images here if needed -->
    </div>
    <div class="arrow right" onclick="moveSlide(1)">
        <i class="fas fa-chevron-right"></i>
    </div>
</div>

<footer class="footer">
    <p>&copy; 2024 Farmers Market.</p>
</footer>

<script>
    let currentIndex = 0;

    function moveSlide(direction) {
        const slider = document.querySelector('.slider');
        const images = slider.querySelectorAll('img');
        const totalImages = images.length;

        currentIndex += direction;

        if (currentIndex < 0) {
            currentIndex = totalImages - 1;
        } else if (currentIndex >= totalImages) {
            currentIndex = 0;
        }

        const imageWidth = images[0].getBoundingClientRect().width;
        const offset = -currentIndex * imageWidth;
        slider.style.transform = `translateX(${offset}px)`;
    }
</script>
