<app-buyer-navbar></app-buyer-navbar>
<div class="mainDiv">
  <div class="cardStyle">
    <form name="signupForm" id="signupForm" [formGroup]="changepassword" (ngSubmit)="validateSignupForm()">
      
      <img src="" id="signupLogo"/>
      
      <h2 class="formTitle">Change Password</h2>

      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword" formControlName="oldPassword">
      </div>
   
      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        <input type="password" id="password" name="password" formControlName="newPassword" required>
      </div>
   
      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmpassword">
      </div>
    
      <div class="buttonWrapper">
        <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
          <span>Continue</span>
        </button>
      </div>
      
    </form>
  </div>
</div>
