<nav class="login-nav">
  <div class="nav-content">
    <div class="logo">
      <a href="/buyer-home">User's</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/buyer-home" href="/buyer-home" aria-label="Go to Home Page">HOME</a></li>
      <li><a routerLink="/buyer-profile" href="/buyer-profile" aria-label="View Profile">PROFILE</a></li>
      <li><a routerLink="/buyer-contact" href="/buyer-contact" aria-label="Contact Us">CONTACT</a></li>
      <li><a (click)="onLogout()" href="#" aria-label="Contact Us">LOGOUT</a></li>
    </ul>
  </div>
</nav>